streamlit
requests
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
faiss-cpu
duckduckgo-search
beautifulsoup4
pymongo
pypdf
dnspython
webdriver-manager


